*{padding: 0;margin: 0;}

button{
    outline:none;
    border:none;
}

body {
    background: url("../res/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

canvas{
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.5);
}

canvas:hover{
    cursor: pointer;
}

.title{
    margin: 15px 0;
    color: #eee;
}

.container{
    width: 640px;
    border: 1px solid #000;
    margin: 0 auto;
    position: relative;
    background-color: rgba(255,255,255,0.5);
}

.progressBar{
    background-color: #95CA0D;
    height: 28px;
    padding: 5px 0;
}
.progressText{
    color: brown;
    position: absolute;
    left: 10px;
    top: 9px;
}

.counter{
    color: brown;
    position: absolute;
    left: 10px;
    top: 50px;
    user-select:none;
}

.btn{
    padding: 10px 15px;
    background-color: rgba(255,255,255,.9);
}
.btn:hover{
    background-color: rgba(255,255,255,1);
}
.btn:active{
    background-color: rgba(255,255,255,.8);
    transform: scale(0.9);
}

